<% provide(:title, "記事一覧") %>
<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% @posts.each do |post| %>
    <%= link_to post_path(post) do %>
    <div style="border-bottom:1px solid gray; padding:10px;">
        <p>タイトル：<%= post.title %></p>
        <p>内容：<%= post.content %></p>
        <% user = post.user %>
        <p>投稿ユーザ：<%= link_to user.name, user_path(user) %></p>
    </div>
    <% end %>
<% end %>
